.App {
  padding: 20px 20px 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.header .inputField {
  margin-right: 2vw;
}

.App .content {
  flex-grow: 1;
  background-color: #fff;
}